body{
    margin: 0;
    background-color: white;
    color: black ;
    width: 100%;
    transition: all 1s ease-in-out;
}

.nav {
    margin: 0;
    position: relative;
    margin-right: 50px;
    padding: 20px;   
    padding-right: 100px;
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(50, 36, 36, 0.5);
    transition: all 1s ease-in-out;
}

.menu {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap : 10;
}

.menu div {
    margin-right: 30px;
}
.dark-theme .nav { 
    background-color: rgb(21, 98, 111);
    box-shadow: 7px 5px 5px rgba(220, 209, 209, 0.5);   
}
.dark-theme {
    background-color: black;
    color: white;
    transition: all 1s ease-in-out;
}

.dashboard {
    margin: 2px;
    padding: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    justify-items: center;
    align-items: center;
    gap: 5;
}

.data {
    vertical-align: center;
    place-content: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid green;
    padding: 20px;
    width: 200px;
    height: 200px;
    margin: 10px;
    box-shadow: 5px 5px 5px rgb(69, 32, 32);
    transition: all 1s ease-in-out;
}

.dark-theme .data {
    background-color: rgb(69, 32, 32);
    box-shadow: 5px 5px 5px rgb(164, 133, 133);
    color: white;
    transition: all 1s ease-in-out;
}

.btndark {
    position: relative;
    width: 70px;
    height: 30px;
    background-color: #4b2020;
    border-radius: 50px;
    border: 1px solid white;    
    --right : 0px;
    cursor: pointer;
}

.btndark::after {
    content: '';
    position: absolute;
    top: 3;
    right: var(--right);
    margin: 2;
    margin-right:5px ;
    /* right:40px ; */
    padding: 10px;
    border-radius: 20px;
    background-color: wheat;
}
